.page {
  width: 100%;
  background: #999;
  display: flex;
  justify-content: center;
}

.killers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 125rem;
  min-height: 100rem;
}

.section-title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.killer-card {
  border: 10px solid black;
  width: 17rem;
  height: 17rem;
  margin: 5rem;
  transform: rotate(-45deg);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #b10c0c 0%, #d30000 100%);
}

.killer-content {
  display: flex;
  flex-direction: column;
  height: 45rem;
  align-items: center;
  justify-content: space-between;
  transform: rotate(45deg);
}

.killer-name {
  margin: 0 auto;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  transform: rotate(90deg);
}

.perks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  z-index: 1;
}

.perk {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-weight: bold;
}

.perk:nth-child(2) {
  margin-top: 2rem;
}

.perk img {
  max-width: 100%;
}

.killer-img {
  width: 100px;
  z-index: 0;
}
